
.tela {
    font-family: "Madimi One", sans-serif;
    font-size: 32px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}